@use '../../../styles/colors' as colors;
@use '../../../styles/typography' as typography;

.footer {
  padding: 28px 0;
  width: 100%;
  @include typography.Body_18;
  text-align: center;
  color: var(--color-black);
}
