@import '../../../styles/colors';
@import '../../../styles/typography';

.app-header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px 0;
  background-color: transparent;
  color: white;
  z-index: 3;
  width: 100%;
}

.logo {
  position: relative;
  display: flex;
  z-index: 10;

  ::before {
    content: '';
    position: absolute;
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transform: translateX(-200%);
    z-index: 1;
  }

  ::after {
    content: '';
    position: absolute;
    background-color: var(--color-ligth-gray);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    left: 0;
    transform: translateX(-150%);
  }
}

.logo__text {
  @include H5;
  position: relative;
  z-index: 15;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
}

nav > ul > li > a {
  cursor: pointer;
  color: white;
  text-shadow: none;
  transition: text-shadow 0.5s;
  @include Body_16;
}

nav ul li a:hover {
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  text-decoration: underline;
}

.menu-toggle {
  cursor: pointer;
  display: none;
  width: 30px;
  height: 24px;
}

.menu-toggle div {
  background-color: white;
  height: 3px;
  margin: 4px 0;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;

  width: 100%;
}

.close-icon {
  display: none;
}

.menu-container {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
}

@media (max-width: 768px) {
  .menu-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  nav {
    display: none;
    position: absolute;
    z-index: 5;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
  }

  .menu-toggle.active div:nth-child(1) {
    transform: translateY(-1px) rotate(45deg);
    background-color: black;
  }

  .menu-toggle.active div:nth-child(2) {
    transform: translateY(-12px) rotate(-45deg);
    background-color: black;
  }

  nav.open {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    transition: all 0.3s ease;
    overflow: hidden;
  }

  .blackColor {
    color: var(--color-black);
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
  }

  nav ul {
    padding-top: 45px;
    padding-left: 16px;
    flex-direction: column;
    text-align: left;
    gap: 0;
  }

  nav li {
    margin: 10px 0;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-ligth-gray);
  }

  nav ul li a {
    color: var(--color-gray);
    @include Body_18;
  }

  nav ul li:nth-child(1) {
    border-top: 1px solid var(--color-ligth-gray);
    padding-top: 16px;
  }

  .app-header {
    display: flex;
    padding-left: 70px;
    padding-right: 20px;
    padding-top: 20px;
    justify-content: space-between;
  }

  .logo {
    margin-bottom: 1rem;
  }
}
