<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <input type="text" id="name" name="name" (focus)="onFocus('name')" (blur)="onBlur('name')" formControlName="name"
        [placeholder]="showPlaceholder.name.isShow?'Имя':''">
      <label for="name" class="input-label">Имя</label>
      <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
        <div class="input-errors" *ngIf="form.get('name')?.errors?.['required']">Имя обязательно.</div>
        <div class="input-errors" *ngIf="form.get('name')?.errors?.['minlength']">Имя должно содержать не менее 3
          символов.</div>
      </div>

    </div>

    <div class="input-container">
      <input type="tel" id="phone" name="phone" formControlName="phone" (focus)="onFocus('phone')"
        (blur)="onBlur('phone')" [placeholder]="showPlaceholder.phone.isShow?'Телефон':''">
      <label for="phone">Телефон</label>
      <div class='input-errors' *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched">
        Введите корректный номер телефона.
      </div>
    </div>

    <div class="">
      <app-custom-checkbox formControlName="agree" id="agree" labelText="Согласен с условиями"></app-custom-checkbox>
      <div *ngIf="form.get('agree')?.invalid && form.get('agree')?.touched">
        Согласие с условиями обязательно.
      </div>
    </div>
    <app-custom-button [disabled]="!formIsValid" title="Отправить" type="submit"></app-custom-button>
  </form>
</div>