@use '../../../styles/colors' as colors;
@use '../../../styles/typography' as typography;

.checkbox-input {
  width: 24px;
  height: 24px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.checkbox__text {
  @include typography.Body_18;
}
