@use "@angular/material" as mat;
@import "../../../../styles/colors";
@import "../../../../styles/typography";

* {
  font-family: "GraphikLCG", sans-serif;
}

.custom-form .mdc-text-field__input::placeholder {
  @include Body_18;
  color: var(--color-mid-gray);
}

.custom-form {
  @include mat.form-field-overrides(
    (
      filled-caret-color: black,
      filled-active-indicator-height: 0,
      filled-focus-active-indicator-height: 0,
      outlined-focus-outline-width: 2px,

      filled-container-color: var(--color-extralight-gray),
    )
  );
}

.custom-form__label {
  @include Body_18;
  color: var(--color-dark-gray);
}

.custom-form__hint {
  @include Body_12;
  color: var(--color-gray);
}
