@import '../../styles/colors';
@import '../../styles/typography';

.page-container {
  max-width: 1008px;

  margin: 80px auto;
  display: flex;
  padding: 0 15px;
  flex-direction: column;
  h2 {
    @include H2;
    text-align: center;
  }
}

.faq__block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.question {
  @include Body_18_Bold;
  transition: color 0.5s;
}

.questions-container {
  margin-top: 66px;
  display: flex;

  flex-direction: column;
  gap: 50px;
}

.questions {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;

  &:hover {
    p,
    .question__open {
      color: var(--color-primary);
    }
  }
}

.answer {
  @include Body_18;
  color: var(--color-dark-gray);
}

.question__open {
  cursor: pointer;
  transition: color 0.3s;
}

@media (max-width: 768px) {
  .page-container {
    margin: 56px auto;
    padding: 0 20px;
  }

  .question,
  .answer {
    max-width: 500px;
    width: 100%;
  }
}

@media (max-width: 390px) {
  .page-container {
    margin: 56px auto;
    padding: 0 16px;

    h2 {
      @include H4;
    }
  }

  .question,
  .answer {
    max-width: 270px;
    width: 100%;
  }
}
