<section id="third-block">
  <div class="page-container">
    <div class="text-container">
      <h1 class="text-container__title">Круто, ты дошел до третьего блока</h1>
      <p class="text-container__paragraph">63% опрошенных пользовались кредитами из-за того, что не могли покрыть
        непредвиденные расходы свыше 15 000 ₽. <br>
        <br>
        Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах.
      </p>
    </div>
    <div class="image-container">
      <img src="/images/analytic.png" alt="Пример изображения">
    </div>

  </div>

</section>